* {
    margin: 0;
    padding: 0;
    text-align: center;
    border-style: none;
}
body{
    background-color: black;
    overflow: hidden;
}

/* .container {
    padding: 10%;
    margin: auto;
} */
.fortuneTeller{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.askHere {
    color: white;
    margin-top: 1em;
    margin-bottom: 5px;
}
#fortuneTeller {
    position: absolute;
    top: 0;
    left: 0;
}
#fortune {
    width: 200px;
    border-radius: 25%;
    box-shadow: 0px 0px 1000px 25px crimson;
    /* border: 1px white solid; */
    animation: spinningImg .6s linear infinite;
    background-color: red;
	}

@keyframes spinningImg {
		0% {
			transform: rotate(0deg);
		}
		100% {
			transform: rotate(360deg);
		}
}
#question {
    padding: 0.5em;
    margin-bottom: 0.5em;
    z-index: 99;
}

#question:focus {
    outline: none;
}

#askBtn {
    background-color: rgb(98, 35, 5);
    padding: 0.5em;
    color: white;
    z-index: 98;
}

.fortunes {
    margin: 0 auto;
    margin-top: 20%;
    height: 15em;
    width: 21.21em;
    background: url("assets/Trogmod Fortune.jpg");
    background-size: cover;
    color: white;
}

.fortunes p{
    padding-top: 2.75em;
    padding-left: 9.5em;;
    width:7em;
    height: 10em;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.fortuneBtns {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.fortunesP {
    color: white;
}

#seeFortunesBtn, #againBtn{
    animation: changingBackgroundColor 3s infinite ease-in-out;
    color: white;
    padding: 0.5em;
}

#seeFortunesBtn {
    border-radius: 0% 30% 0% 0%;
}

#againBtn {
    border-radius: 30% 0% 0% 0%;
}

@keyframes changingBackgroundColor {
    0% {
        background-color: #000000;
    }

    50% {
        background-color: rgb(110, 0, 0);
    }

    100% {
        background-color: black;
    }
}